<ion-header>
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <ion-tab-button (click)="dismiss()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-tab-button>
    </ion-col>
    <ion-col size="8">
      <!-- <ion-img src="../../../../assets/images/logo-blanc.png" alt="logo aelion" class="logo"></ion-img> -->
      <ion-img src="../../../../assets/images/logo-noir.png" alt="logo aelion" class="logo"></ion-img>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="illustration-content">
    <ion-col>
      <ion-img src="/assets/images/task-gray.png" alt="society" class="illustration"></ion-img>
    </ion-col>
  </ion-row>

  <h1>Fiche entreprise</h1>
  <form [formGroup]="formGroup" (ngSubmit)="saveDatas()">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input class="custom" formControlName="lastname" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prénom</ion-label>
        <ion-input class="custom" formControlName="firstname" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Téléphone</ion-label>
        <ion-input class="custom" formControlName="tel" placeholder="" type="phonenumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input class="custom" formControlName="mail" placeholder="" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Poste</ion-label>
        <ion-input class="custom" formControlName="function" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Moyen de contact</ion-label>
        <ion-input class="custom" formControlName="contacts" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Historique d'échanges</ion-label>
        <ion-textarea class="custom" formControlName="history" placeholder=""></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Premier échange</ion-label>
        <ion-input class="custom" formControlName="firstContact" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dernier contact</ion-label>
        <ion-input class="custom" formControlName="lastContact" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prochain contact</ion-label>
        <ion-input class="custom" formControlName="nextContact" placeholder=""></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit"  expand="block">Enregistrer</ion-button>

  </form>

  <!-- <ion-button  expand="block" (click)="dismiss()">Retour</ion-button> -->
</ion-content>
