<app-header></app-header>
<ion-content [fullscreen]="true" class="custom">
  <ion-button *ngIf="newPost" class="refreshBtn" (click)="refreshPost()"> Nouveau(x) post(s) </ion-button>


  <ion-row class="legend">
    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[0].isChecked" (ionChange)="toggleCheckbox()" class="tous">
        <span>Tous</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[1].isChecked" (ionChange)="toggleCheckbox()" class="astuce">
        <span>Astuce</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[2].isChecked" (ionChange)="toggleCheckbox()" class="information">
        <span>Information</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[3].isChecked" (ionChange)="toggleCheckbox()" class="offre_emploi">
        <span>Offre emploi</span>
      </ion-checkbox>
    </ion-col>
  </ion-row>

  <app-post [posts]="posts"></app-post>

  <ion-row class="actionBar">
    <ion-col>
      <ion-button (click)="onAddPost()">
        <ion-icon slot="end" name="add-outline" class="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      position="top"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
