<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-button *ngIf="newPost" class="refreshBtn" (click)="refreshPost()"> Nouveau(x) post(s) </ion-button>

  <ion-button (click)="onAddPost()"> Ajouter un post </ion-button>

  <app-post [posts]="posts"></app-post>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      position="top"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
