<ion-row class="ion-align-items-center">
  <ion-col>
    <ion-button (click)="onClickLike(post.id)">
      <ion-icon *ngIf="!postLiked" name="heart-outline"></ion-icon>
      <ion-icon *ngIf="postLiked" name="heart-sharp" color="danger"></ion-icon>
      <span (click)="showLikes(post.id)"> {{ likes.length }} </span>
    </ion-button>
  </ion-col>

  <ion-col>
    <ion-button (click)="showComments(post)">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      {{ comments.length }}
    </ion-button>
  </ion-col>

  <ion-col>
    <ion-button>
      <ion-icon name="star-outline"></ion-icon>
    </ion-button>
  </ion-col>

  <!-- <ion-col>
    <ion-button>
      <ion-icon name="pin-outline"></ion-icon>
    </ion-button>
  </ion-col> -->

  <ion-col>
    <ion-button>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

