<ion-item>
  <ion-label>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <h2 class="title"> {{ post.title}} </h2>
      </ion-col>
      <ion-col size="4">
        <div *ngIf="post.type === 'Information'">
          <h3 class="information">Information</h3>
        </div>
        <div *ngIf="post.type === 'Astuce'">
          <h3 class="astuce">Astuce</h3>
        </div>
        <div *ngIf="post.type === 'Offre emploi'">
          <h3 class="emploi">Offre emploi</h3>
        </div>
      </ion-col>
    </ion-row>
    
    <div *ngIf="post.media && post.media.length > 0">
      <img [src]= post.media class="post-thumbnail">
    </div>
    
    <div>
      <p class="postContent"> {{ post.content }} </p> 
      <p class="postDate" text-align="right"> Posté le {{ post.postedAt | date: 'dd/MM/yyyy' }} </p>
    </div>
    
  </ion-label>
</ion-item>