ion-item{
    h2{ font-weight: bold; font-size: 1.5rem;}
    h3{ 
        text-align: center;
        padding: 2px 0;
        border-radius: 10px;
        font-size: .8rem;
    }
    
    .information{ 
        background-color: #D6CAFF;
        color: #55458a;
    }
    
    .astuce{ 
        background-color: #FFF78C;
        color: #5f5e00
    }
    
    .emploi{ 
        background-color: #B6FBAD;
        color: #4b7f44;
    }
    .post-thumbnail{
        border-radius: 8px;
    }
}

.postContent {
    color: dark;
}

.postDate {
    font-size: xx-small;
    text-align: right;
}