ion-thumbnail{
    .avatar{ 
        border: 1px solid gray;
        border-radius: 100%;
    }
}

ion-label{
    h2{
        font-weight: bold;
        margin: 1rem 0 0 0;
    }
    h3{
        font-size: small;
        margin: 0;
    }
}
.internPoe {
    font-size: x-small;
}