<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-job></app-job>
<ion-grid>
  <ion-row>
    <ion-col size="2">Title 1 </ion-col>
    <ion-col size="2">Title 2 </ion-col>
    <ion-col size="2">Title 3 </ion-col>
    <ion-col size="2">Title 4 </ion-col>
    <ion-col size="2">Title 5 </ion-col>
    <ion-col size="2">Title 6 </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">info 1</ion-col>
    <ion-col size="2">info 2</ion-col>
    <ion-col size="2">info 3</ion-col>
    <ion-col size="2">info 4</ion-col>
    <ion-col size="2">info 5</ion-col>
    <ion-col size="2">info 6</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
