<app-header></app-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="mockResearch()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="job" placeholder="Métier recherché"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-input formControlName="location" placeholder="Localisation"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" [disabled]="formGroup.invalid">Rechercher</ion-button>
    <ion-button [routerLink]="['suivi']">Mon tableau de suivi</ion-button>

  </form>

  <ng-container *ngFor="let company of companyArray, let i = index">
    <app-company [company]="company.items[0]"></app-company>
  </ng-container>

</ion-content>
