::ng-deep .custom-header{
    background-color: #D6CAFF;
}

.illustration-content{
    background-color: #D6CAFF;
    h1{
        text-align: center;
        font-weight: bold;
        color: #4d4663;
        margin-bottom: -15px;
    }
    .illustration{
        max-width: 200px;
        margin: 0 auto;
    }
}

ion-segment {
    --background: #eee;
    border: 1px solid #cdcdcd;
    margin: 16px 16px 0 16px;
    border-radius: 10px;
    padding: 3px;
    .custom-SegmentBtn{
        min-height: 30px;
        letter-spacing: normal;
        text-transform: capitalize;
        ion-label{
            font-size: 1rem;
            margin: 0;
        }
    }
    .segment-button-checked{
        background-color: white;
        border-radius: 8px;
        --indicator-color: none;
        color: black;
    }
}

.areaSearch{
    background-color: #D6DFE6;
    //border: 1px solid #cdcdcd;
    border-radius: 16px;
    padding: 12px;
    margin-top: 24px;

    ion-label{
        padding: 0 0 1rem 14px;
        font-size: 1rem;
        font-weight: bold;
    }

    ion-input.custom{
        --background: #eee;
        --border-radius: 10px;
        --border-bottom: none;
        --padding-bottom: 10px;
        --padding-end: 10px;
        --padding-start: 10px;
        --padding-top: 10px;
        margin-bottom: 1rem;
        margin-top: .3rem;
        &:last-child{
            margin-bottom: .3rem;
        }
    }

    ion-button{
        --background: #C0E863;
        --border-radius: 30px;
        --color: #000;
        --box-shadow: none;
        height: 56px;
        font-weight: bold;
        font-size: 1rem;
    }
}

ion-list{
    h2{
        font-weight: bold;
        font-size: 1.5rem;
        // background-color: #eee;
        // border-radius: 30px;
    }
}

app-company{
    &:nth-child(odd){
        --ion-item-background:#eee;
    }
}