ion-button{
    --background: #C0E863;
    --border-radius: 30px;
    --color: #000;
    --box-shadow: none;
    --padding-top: 1.1rem;
    --padding-bottom: 1.1rem;
    text-transform: none;
    letter-spacing: normal;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
ion-icon{
    font-size: 2rem;
    color: black;
}