ion-content::part(background){
    background-color: #EEEEEE;
}

ion-button {
    --background: #C0E863;
    --border-radius: 6px;
    --color: #000;
    --box-shadow: none;
    --padding-top: .5rem;
    --padding-bottom: .5rem;
    text-transform: none;
    letter-spacing: normal;
    margin-right: 10px;
}

.actionBar{
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 1;

    ion-button{
        --border-radius: 30px;
        border-radius: 30px;
        --background: white;
        border: 1px solid #cdcdcd;
    }
}

ion-content{
    ion-list{
        border-radius: 18px;
    }
    .avatar{
        max-width: 120px;
        border: 2px solid gray;
        border-radius: 100%;
        margin-top: 1rem;
    }
    .identity{
        h2{ 
            margin: 0;
            font-weight: bold;
        }
        p{
            margin: 0;
            color: gray;
        }
    }
    .phone a{
        text-decoration: none;
        color: inherit;
    }
}