<app-header></app-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-text-center">
      <img alt="Profile Picture" class="avatar" src="https://avatar.iran.liara.run/public"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center identity">
      <h2>{{ intern?.firstName }} {{ intern?.lastName }}</h2>
      <p>{{ intern?.occupation }} chez {{ intern?.company?.name }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list inset="true">
        <ion-item *ngFor="let email of intern?.emails">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <a href="mailto:{{ email }}">{{ email }}</a>
        </ion-item>

        <ion-item class="phone">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <a href="tel:{{ intern?.phone }}">{{ intern?.phone }}</a>
        </ion-item>

        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>{{ intern?.gender }}</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon name="school-outline" slot="start"></ion-icon>
          <ion-label>{{ intern?.poe?.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>