ion-content{
    .avatar{
        max-width: 150px;
        border: 3px solid gray;
        border-radius: 100%;
        margin-top: 1rem;
    }
    .identity{
        h2{ 
            margin: 0;
            font-weight: bold;
        }
        p{
            margin: 0;
            color: gray;
        }
    }
}