<ion-item>
  <ion-thumbnail slot="start">
    <!-- <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> -->
    <img alt="Profile Picture" class="avatar" src="https://avatar.iran.liara.run/public?{{num}}" (click)="goProfile(id)"/>
  </ion-thumbnail>

  <ion-label>
    <h2> {{ intern.firstName }} {{ intern.lastName }} <span *ngIf="currentPage === '/tabs/tab3'" class="status-indicator" [ngClass]="{'connected': isInternConnected}"></span> </h2>
    <h3 class="internCompany"> {{ intern.occupation }} chez {{ intern.company.name }} </h3> 
    <p class="internPoe"> {{ intern.poe.name }} {{ intern.poe.beginAt | date: 'dd/MM/yyyy' }} - {{ intern.poe.endAt | date: 'dd/MM/yyyy'}} </p>
  </ion-label>
  <!-- <div *ngIf="currentPage === '/tabs/tab3'">
    <div class="status-indicator" [ngClass]="{'connected': isInternConnected}"></div>
  </div> -->
  
  <div *ngIf="currentPage === '/tabs/tab3'">
    <ion-icon name="chatbubble-outline" class="btn-popover" (click)="onChatClick(intern)"></ion-icon>
  </div>
  
   <div *ngIf="currentPage === '/tabs/tab1'">
    <ion-icon name="ellipsis-horizontal-outline" id="open-action-sheet-{{num}}" class="btn-popover"></ion-icon>
    <ion-action-sheet trigger="open-action-sheet-{{num}}" class="custom-action" [buttons]="actionSheetButtons"></ion-action-sheet>
   </div>
  
</ion-item>
