<ion-progress-bar value="1"></ion-progress-bar>

<ion-grid>
  <ion-row class="ion-justify-content-center content-form">
    <form [formGroup]="validatePassword" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input type="password" onPaste="return false" formControlName="password1" placeholder="Entrez votre mot de passe">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" onPaste="return false" formControlName="password2" placeholder="Entrez de nouveau votre mot de passe"
          >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        </ion-item>
      </ion-list>
      <ion-button type="submit" [disabled]="validatePassword.invalid">Envoyer</ion-button>
    </form>
  </ion-row>
</ion-grid>