<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-row>
    <ion-col>
      <ion-searchbar show-clear-button="focus" placeholder="Rechercher"></ion-searchbar>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="auto">
      <ion-button size="small" (click)="onAddAuth()">
        Nouveau
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="legend">
    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[0].isChecked" (ionChange)="toggleCheckbox($event)" class="tous">
        <span>Tous</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[1].isChecked" (ionChange)="toggleCheckbox($event)" class="super_admin">
        <span>Super admin</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[2].isChecked" (ionChange)="toggleCheckbox($event)" class="admin">
        <span>Admin</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[3].isChecked" (ionChange)="toggleCheckbox($event)" class="stagiaire">
        <span>Stagiaire</span>
      </ion-checkbox>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="auths.length">
    <ion-list inset="true" lines="none">
      <ng-container *ngFor="let auth of auths; trackBy: trackByEmail">
          <ion-item>
            <ion-icon name="person-outline" class="icon-left" id="present-alert"></ion-icon>
            <ion-label>
              <h2>{{auth.email}} <span class="{{auth.role}}"></span></h2>
            </ion-label>
            <ion-icon *ngIf="this._selfInformation.role === 'super_admin' || (this._selfInformation.role === 'admin' && auth.role === 'stagiaire')" name="document-text-outline" (click)="onUpdateAuth(auth)"></ion-icon>
            <ion-icon *ngIf="this._selfInformation.role === 'super_admin' || (this._selfInformation.role === 'admin' && auth.role === 'stagiaire')" name="close-circle-outline" (click)="presentAlert(auth)" class="icon-right"></ion-icon>
          </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>
