<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="legend">
    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[0].isChecked" (ionChange)="toggleCheckbox($event)" class="tous">
        <span>Tous</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[1].isChecked" (ionChange)="toggleCheckbox($event)" class="super_admin">
        <span>Super admin</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[2].isChecked" (ionChange)="toggleCheckbox($event)" class="admin">
        <span>Admin</span>
      </ion-checkbox>
    </ion-col>

    <ion-col size="auto">
      <ion-checkbox [(ngModel)]="checkboxes[3].isChecked" (ionChange)="toggleCheckbox($event)" class="stagiaire">
        <span>Stagiaire</span>
      </ion-checkbox>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="auths.length">
    <ion-list inset="true" lines="none">
      <ng-container *ngFor="let auth of auths; trackBy: trackByEmail">
        <app-show-one-auth [auth]="auth"> </app-show-one-auth>
      </ng-container>
    </ion-list>
  </ng-container>

  <ion-row class="actionBar">
    <ion-col size="auto">
      <ion-button (click)="onAddAuth()">
        <ion-icon slot="end" name="add-outline" class="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
