h2{
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}
ion-card{
    --ion-background-color: white;
    //box-shadow: none;
    border-radius: 16px;
    //border: 1px solid #cdcdcd;
    margin-bottom: 16px;
}