ion-content{
    --ion-background-color: #2D3041;
}

.login{
    max-width:200px;
    margin: 0 auto;
}

ion-input.custom{
    --background: #eee;
    --border-radius: 10px;
    --border-bottom: none;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    margin-bottom: .3rem;
}

ion-input.custom-password{
    --background: #eee;
    --border-radius: 10px;
    --border-bottom: none;
    --padding-end: 10px;
    --padding-start: 10px;
    margin-bottom: .3rem;
}



ion-label{
    padding: 0 0 1rem 14px;
    font-size: 1.2rem;
    font-weight: bold;
}

ion-button{
    --background: #C0E863;
    --border-radius: 30px;
    --color: #000;
    --box-shadow: none;
    --padding-top: 1.1rem;
    --padding-bottom: 1.1rem;
    text-transform: none;
    letter-spacing: normal;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

ion-row{
    ion-col{
        text-align: center;
        padding: 0 16px 0 16px;
    }
    a{
        color: #737678;
        margin-top: 1rem;
        text-align: center;
    }
}